.link {
  padding-block: 10px;
  padding-inline: 20px;
  background-color: #9acbdb;
  border-radius: 5px;
  color: #fff;
  line-height: 29px;

  &-container {
    display: flex;
    justify-content: center;
  }
}