@use '../mixins/responsive.scss' as *;

.header {
  padding: 10px;
  background-color: #eccf72;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__menu-icon {
    width: 40px;
    cursor: pointer;

    @include responsive(tablet) {
      display: none;
    }
  }
}