@use '../mixins/responsive.scss' as *;
@use '../mixins/pseudo.scss' as *;
@use '../mixins/hover.scss' as *;

.img {
  border: 4px solid #00755e;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.top-image-container {
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

.top-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 75%;

  @include responsive(tablet) {
    object-position: center 41%;
  }

  &--africa {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20%;

    @include responsive(tablet) {
      object-position: center 65%;
    }
  }

  &--asia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20%;

    @include responsive(tablet) {
      object-position: center 55%;
    }
  }

  &--europe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30%;

    @include responsive(tablet) {
      object-position: center 40%;
    }
  }

  &--oceania {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30%;

    @include responsive(tablet) {
      object-position: center 50%;
    }
  }

  &--america {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0%;

    @include responsive(tablet) {
      object-position: center 30%;
    }
  }

  &--contact {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20%;

    @include responsive(tablet) {
      object-position: center 20%;
    }
  }
}

.card--continent__image {
  object-fit: cover;
  width: 100%;
  height: 400px;

  @include hover {
    opacity: 0.7;
    transition: opacity 0.1s ease;
  }
}
