.title {
  color: #00755e;
  font-weight: 500;

  &-top {
    color: #00755e;
    font-size: 29px;
    font-weight: 420;
    letter-spacing: 2px;
  }

  &-l {
    text-align: left;
    color: #000000c2;
    font-size: 32px;
    font-weight: 420;
  }
}
