.title {
  color: white;
  font-weight: 500;

  &-top {
    color: #9acbdb;
    font-size: 29px;
    font-weight: 420;
    letter-spacing: 2px;
  }

  &-l {
    text-align: left;
    color: #000000c2;
    font-size: 32px;
    font-weight: 420;
  }
}
